* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.conteiner {
  width: 100vw;
  height: 100vh;
  margin-top: 50%-1px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center; 
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: #334247;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0) 8;
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0) 8;
  width: 380px;
  height: 770px;
  margin: 15px;
}

.price-card__title {
  margin: 30px 139.86px 36px 140px;
}
.price-card:nth-child(2) .price-card__title{
  margin: 30px 108.25px 36px 108px;
}
.price-card:nth-child(3) .price-card__title{
  margin: 30px 102px 36px 102px;
}

.price-card__title-basic {
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: white;
  margin: 0;
}

.price-card__title__subtitle {
  display: block;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}



.price-card__price {
  width: 100%;
  height: 104px;
  padding: 18px 110px 19px 110px;
  background-color: #5BB189;
  color: white;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
}

.price-card-two__price {
  background-color: #3A6BA5;
}

.price-card-three__price {
  background-color: #EC632A;
}

.price-card__description {
  padding: 0;
  margin: 39px 26px 42px 26px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.price-card__options-list {
  padding: 0;
  margin: 0;
}

.price-card__options-list__row {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 16px 21.38px 16px 22.25px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #FFFFFF;
}

.price-card__options-list__row-icon {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
  padding: 19px 21.41px 18px 22.25px;
  background-repeat: no-repeat;
}

.price-card__options-list__row-icon-two {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
  padding: 19px 21.41px 18px 22.25px;
  background-repeat: no-repeat;
}

.price-card__options-list__row-icon-three {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
  padding: 19px 21.41px 18px 22.25px;
  background-repeat: no-repeat;
}

.price-card__order-btn {

  background-color: #5BB189;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 155px;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  color: #fff;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
}
.price-card:nth-child(2) .price-card__order-btn {
  background-color: #3A6BA5;
  border-color: #3A6BA5;
}
.price-card:nth-child(3) .price-card__order-btn {
  background-color: #EC632A;
  border-color: #EC632A;
}

.price-card .black {
  background-color: #2A3438;
}
/*# sourceMappingURL=style.css.map */